main, h1{
   padding: 1em;
   color: orangered;
  }

html{
  background-color: lightgray;
}

img{
  height: 10rem;
  width: auto;
  border-radius: 10%;
  box-shadow: 10px 5px 5px grey;
}

main p{
  background-color: gainsboro;
}

main li{
  border: thin solid black;
  padding: 1em;
  background-color: gainsboro;
}

footer{
  border: thin solid black;
}

ul, li {
  list-style-type: none;
}
nav ul li{
  box-shadow: 10px 5px 5px grey;
}